
* {
    font-family: sans-serif;
}

pre {
    font-family: monospace;
}

#main {
    width: 1040px;
    margin-left: auto;
    margin-right: auto;
}

#header {
    height: 300px;
    position: relative;
    background-image: url("/img/header.png");
    background-size: 1040px 300px;
}

#header div {
    padding: 15px;
    color: white;
}

#header img {
    float: right;
    width: 100px;
}

#header h1, #header h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}

#header img {
    max-height: 180px;
    position: absolute;
    top: 10px;
    right: 30px;
}

#menu {
    background-color: #000;
    height: 35px;
}

#menu ul {
    margin: 0;
    padding: 0;
    height: 35px;
}

#menu li {
    display: inline-block;
    height: 35px;
    padding-left: 15px;
    width: 110px;
    line-height: 35px;
    font-size: 13px;
    color: white;
    margin: 0;
}

#menu a {
    color: white;
    text-decoration: none;
}

.no-top {
    margin-top: 0px;
    padding-top: 0px;
}

th {
    margin-top: 3em;
    text-align: left;
}

.no-bottom {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

#content {
    padding: 15px;
}

h1 {
    margin-top: 35px;
}

#footer {
    margin-top: 70px;
}