
* {
    font-family: sans-serif;
}

#main {
    width: 1040px;
    margin-left: auto;
    margin-right: auto;
}

#header {
    height: 200px;
    position: relative;
    background-image: url("/img/header.png");
    background-size: 1040px 200px;
}

#header div {
    padding: 20px;
    color: white;
}

#header img {
    max-height: 180px;
    position: absolute;
    top: 10px;
    right: 30px;
}

#menu {
    background-color: #000;
    height: 40px;
}

#menu ul {
    margin: 0;
    padding: 0;
    height: 40px;
}

#menu li {
    display: inline-block;
    height: 40px;
    padding-left: 15px;
    width: 60px;
    line-height: 40px;
    color: white;
    margin: 0;
}

#menu a {
    color: white;
    text-decoration: none;
}

.no-top {
    margin-top: 0px;
    padding-top: 0px;
}

.no-bottom {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

#content {
    padding: 15px;
}