<div class="container">
    <div class="row justify-content-md-center">
        <nav class="navbar navbar-dark navbar-expand-md">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    {{ $currentPage := . }}

                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    {{ range .Site.RegularPages }}
                    <li class="nav-item"><a class="nav-link" href="{{ .URL }}">{{ .LinkTitle }}&nbsp;</a></li>
                    {{ end }}
                </ul>
            </div>
        </nav>
    </div>
</div>