<div class="container">
    <hr/>
    <div class="row justify-content-center">
        <div class="col-10 col-lg-5">
            <h3>Main sponsor:</h3>
            <img src="img/sponsors/Prodrive-fullcolor.svg" alt="Prodrive Technologies"/>
        </div>
        <div class="offset-lg-2 spacing-lg"></div>
        <div class="col-10 col-lg-5">
            <h3>ICPC Europe sponsor:</h3>
            <img src="img/sponsors/Huawei-fullcolor.svg" alt="Huawei"/>
        </div>
    </div>
    <div class="spacing"></div>
    <div class="row justify-content-center">
        <div class="col-5 col-lg-3">
            <h4>Partners:</h4>
            <img src="img/sponsors/IMC-fullcolor.svg" alt="IMC trading"/>
        </div>
        <div class="offset-lg-1"></div>
        <div class="col-5 col-lg-3">
            <div class="empty-head"></div>
            <img src="img/sponsors/TUe-fullcolor.svg" alt="Eindhoven University of Technology"/>
        </div>
        <div class="offset-lg-3 spacing-lg"></div>
        <div class="col-4 col-lg-2">
            <h4>Sponsor:</h4>
            <img src="img/sponsors/ASML-fullcolor.svg" alt="ASML"/>
        </div>
    </div>
    <hr/>
</div>