<div class="container">
    <hr/>
    <div class="row justify-content-center">
        <div class="col-10 col-lg-5">
            <h3>Main sponsor:</h3>
            <a target="_blank" href="https://prodrive-technologies.com/">
                <img src="/img/sponsors/Prodrive-fullcolor.svg" alt="Prodrive Technologies"/>
            </a>
        </div>
        <div class="offset-lg-2 spacing-lg"></div>
        <div class="col-10 col-lg-5">
            <h3>ICPC Europe sponsor:</h3>
            <a target="_blank" href="https://www.huawei.com/en/">
                <img src="/img/sponsors/Huawei-fullcolor.svg" alt="Huawei"/>
            </a>
        </div>
    </div>
    <div class="spacing"></div>
    <div class="row justify-content-center">
        <div class="col-5 col-lg-3">
            <h4>Partners:</h4>
            <a target="_blank" href="https://www.imc.com/eu/">
                <img src="/img/sponsors/IMC-fullcolor.svg" alt="IMC trading"/>
            </a>
        </div>
        <div class="offset-lg-1"></div>
        <div class="col-5 col-lg-3">
            <div class="empty-head"></div>
            <a target="_blank" href="https://www.tue.nl/en/">
                <img src="/img/sponsors/TUe-fullcolor.svg" alt="Eindhoven University of Technology"/>
            </a>
        </div>
        <div class="offset-lg-3 spacing-lg"></div>
        <div class="col-4 col-lg-2">
            <h4>Sponsor:</h4>
            <a target="_blank" href="https://www.asml.com/">
                <img src="/img/sponsors/ASML-fullcolor.svg" alt="ASML"/>
            </a>
        </div>
    </div>
    <hr/>
</div>